<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="./index.js" defer)
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        title JavaScript Bucles 2 | Ejercicio 0
    body 
        h1 Tablas de multiplicar.
        p Este programa calcula e imprime las tablas de multiplicacion del 1 al 9. Miralas en la consola, presiona el boton de calcular.
        input(type="submit" value="Calcular")
