<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="./index.js" defer)
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        title JavaScript Bucles 2 | Ejercicio 01
    body 
        h1 Generador de tablas.
        p Este programa genera tablas a partir de dos dimensiones.
        label(for="columns") Columnas
        input(type="number" id="columns")
        label(for="rows") Filas
        input(type="number" id="rows")
        input(type="submit" value="Generar")
        table(border="1")
            thead
            tbody
