<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js", defer)
        title JavaScript Bucles B | Ejercicio 04
    body
        h1 Programa para calcular si un número es primo.
        p Ingresa un número natural.
        label(for="number") Número:
        input(type="number" id="number") 
        input(type="submit" value="Calcular")
        output