<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JavaScript Bucles
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js" defer)
    body
        h1 Ejercicios de bucles.
        h2 Ejercicio 01
        input(type="submit" value="Genera")
        output