* {
	box-sizing: content-box;
}

body {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr minmax(558px, 558px);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 'left-container left-container right-container' 'left-container left-container right-container'
		'left-container left-container right-container' 'left-container left-container footer';
	font-family: 'Montserrat', sans-serif;
	max-height: 1024px;
}

.left-container {
	grid-area: left-container;
	height: 1024px;
	box-shadow: 5px 4px 20px #000000;
	border-radius: 0 40px 40px 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 1) 100%),
		url("../assets/barcelona/barcelona.jpg");
	background-size: cover;
}

.right-container {
	grid-area: right-container;
	margin-left: 5%;
	margin-right: 5%;
}

.logo {
	position: absolute;
	top: 57px;
	left: 96px;
	width: 225px;
	height: 77px;
	margin: 0;
}

.logo img {
	width: 100%;
}

article {
	color: white;
}

article h1 {
	font-size: 100px;
	margin: 0 0 4%;
	font-weight: 400;
	position: absolute;
	color: rgb(255, 81, 0);
	top: 345px;
	left: 77px;
	text-shadow: 7px 5px 5px black;
}

article p {
	font-size: 35px;
	margin: 0;
	width: 735px;
	text-align: justify;
	position: absolute;
	top: 505px;
	left: 77px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
}

nav ul li {
	margin-right: 40px;
}

header .hamburguer {
	width: 70px;
	margin: 0;
}

.hamburguer img {
	width: 100%;
}

.search-bar {
	display: flex;
	margin-top: 40px;
	margin-bottom: 100px;
	flex-direction: column;
}

.search-bar input {
	border-radius: 10px;
	padding: 8px;
	width: 90%;
	background-color: #e2e2e2;
	margin-top: 10px;
	color: black;
	border: none;
}

.gallery {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 473px;
	margin: auto;
	padding: 0;
}

section h2 {
	color: rgb(255, 81, 0);
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0;
}

.gallery li {
	padding: 0;
	margin: 0;
	width: 141px;
}

.gallery figure {
	width: 141px;
	height: 228px;
	margin: 0;
	transition: transform 1s;
}

.gallery .second-figures {
	height: 160px;
}

.gallery figure:hover {
	transform: scale(1.2);
}

.gallery figure img:not(.figcaption-stars) {
	border-radius: 20px;
	box-shadow: 0px 5px 10px 2px #000000;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.gallery figure figcaption {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 14px;
	width: 100%;
}

.gallery-navigation {
	margin-top: 80px;
	margin-left: 20px;
}

footer {
	padding-top: 190px;
	grid-area: footer;
	text-align: center;
	align-items: baseline;
}

.social span:not(:first-child) {
	margin-left: 15px;
}

span img {
	width: 30px;
}

@media (max-width: 1370px) {
	article h1 {
		left: 77px;
		top: 200px;
	}

	article p {
		font-size: 30px;
		width: 600px;
		top: 350px;
	}
}
