* {
	box-sizing: content-box;
}

body {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 'left-container left-container right-container' 'left-container left-container right-container'
		'left-container left-container right-container';
	font-family: 'Montserrat', sans-serif;
}

.left-container {
	grid-area: left-container;
	height: 1024px;
	box-shadow: 5px 4px 20px #000000;
	border-radius: 0 40px 40px 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 1) 100%),
		url("../assets/index/homeImage.jpg");
	background-size: cover;
}

.right-container {
	grid-area: right-container;
	margin-left: 8%;
}

.logo {
	position: absolute;
	top: 57px;
	left: 96px;
	width: 225px;
	height: 77px;
	margin: 0;
}

.logo img {
	width: 100%;
}

article {
	color: white;
}

article h1 {
	font-size: 100px;
	margin: 0 0 4%;
	font-weight: 400;
	position: absolute;
	top: 345px;
	left: 77px;
	text-shadow: 7px 5px 5px black;
}

article p {
	font-size: 35px;
	margin: 0;
	width: 735px;
	text-align: justify;
	position: absolute;
	top: 505px;
	left: 77px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
}

nav ul li {
	margin-right: 40px;
}

header .hamburguer {
	width: 70px;
	margin: 0;
}

.hamburguer img {
	width: 100%;
}

.search-bar {
	display: flex;
	margin-top: 40px;
	margin-bottom: 150px;
	flex-direction: column;
}

.search-bar input {
	border-radius: 10px;
	padding: 8px;
	width: 90%;
	background-color: #e2e2e2;
	margin-top: 10px;
	color: black;
	border: none;
}
