<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JavaScript Bucles | Ejercicio 02
        script(src="./index.js" defer)
        link(href="./sobrio.css", type="text/css", rel="stylesheet")
    body
        h1 Divisores de un numero.
        p Ingresa un numero y obten sus divisores
        label(for="number")
        input(type="number" id="number")
        input(type="submit" value="Calcular")
        output