<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ejercicio 08
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js" defer)
    body
        h1 Juego de adivinanza.
        p Introduce un  numero del 1 al 128 y descubre si puedes adivinarlo.
        label(for="guess") Numero
        input(type="number" id="guess")
        input(type="submit" value="Adivina")
        input(type="reset" value="Empieza otra vez")
        output