html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	display: initial;
	font-family: 'Raleway', sans-serif;
	z-index: 1;
}

figure {
	margin: 0;
	overflow: hidden;
}

figure img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
	transition: all 200ms ease-in;
}

nav ul li {
	transition: all 200ms ease-in;
}

nav li:hover {
	transform: translateY(-5px);
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.247);
}

a[class*="button"]:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
}

header {
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-attachment: fixed;
	padding: 1.5em;
	z-index: 4;
	position: relative;
}

header nav {
	display: flex;
	max-width: 1200px;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	text-transform: capitalize;
	font-size: 1.1em;
}

header > nav figure img {
	max-width: 100px;
}

nav ul {
	display: flex;
	width: 800px;
	justify-content: space-between;
	padding: 0;
	font-size: 1.2em;
}

header > nav > a {
	background-color: #fff;
	border-radius: 1em;
	padding: 0.7em;
	color: #000;
}

nav ul li:nth-of-type(2) {
	text-transform: none;
}

ul {
	list-style-type: none;
}

.hero {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 90%;
	max-width: 970px;
	margin: 2em auto;
	align-content: center;
	padding: 2em;
	padding-bottom: 4em;
	border-radius: 0.5em;
	background-color: rgba(255, 255, 255, 0.596);
}

.hero h1 {
	font-size: 4em;
	margin: 0 0 1em 0;
	max-width: 670px;
	margin-bottom: 1em;
}

.hero p {
	font-size: 1.2em;
	color: #fff;
	line-height: 1.5;
	letter-spacing: 0.7px;
	color: #c4008c;
}

.hero > div {
	max-width: 670px;
	text-align: left;
}

.hero a {
	padding: 1em;
	background-color: #000;
	border-radius: 1em;
	margin-left: 1em;
}

.hero a:first-of-type {
	background-color: #fff;
	color: #000;
}

.hero figure {
	position: absolute;
	right: -100px;
	top: 50%;
	width: 500px;
}

/* MAIN */

main {
	box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.295);
	z-index: 3;
	position: relative;
}

main article {
	padding: 1em;
}

main article:first-of-type {
	padding-top: 8em;
	padding-bottom: 5em;
}

main article:last-of-type {
	padding: 5em 0;
}

main article:nth-of-type(odd) {
	background-color: #fff;
}

main article:nth-of-type(even) {
	background-color: #f6f6f6;
}

main article > div {
	width: 90%;
	max-width: 970px;
	margin: auto;
}

main article figure {
	width: 400px;
}

.wave {
	padding: 0;
	line-height: 0;
}

[class*="wave"] {
	background-color: #fff;
}

.wave-white {
	transform: rotate(180deg);
}

article > div {
	display: flex;
	justify-content: space-between;
}

article > div > div {
	position: relative;
	max-width: 450px;
	margin: auto 1em;
}

.best-seller {
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(25deg);
	width: 3em;
	cursor: pointer;
}

article > div > div > p {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.664);
}

article > div > figure {
	position: relative;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.637);
	border-radius: 0.4em;

	img {
		height: 100%;
	}
}

article h3 + span {
	text-transform: capitalize;
	color: #c4c4c4;
}

.price {
	margin: 1em auto;
}

.price > span:first-of-type {
	color: #c4008da2;
}
.price > span:nth-of-type(2) {
	vertical-align: middle;
	margin-left: 0.4em;
	font-size: 4em;
	color: #c4008c;
	font-family: 'Montserrat', 'sans-serif';
	font-weight: lighter;
}

.details > span {
	text-transform: uppercase;
	color: #c4c4c4;
	letter-spacing: 0.1em;
}

.details ul {
	padding: 0;
	list-style-type: '✓ ';
	list-style-position: inside;
}

article:nth-of-type(even) > div > div {
	order: -1;
}

article h3 {
	font-size: 2em;
	margin: 0;
	letter-spacing: -2px;
}

article img {
	transition: transform 200ms ease-in;
}

article img:hover:not([alt="best seller"]) {
	transform: scale(1.2);
}

.buttons {
	display: flex;

	a {
		padding: 1em;
		border-radius: 1em;
	}

	a:first-of-type {
		background-color: #c4008dcc;
		margin-right: 0.7em;
	}

	a:last-of-type {
		background-color: #ff7700;
	}
}

/* FOOTER */

footer {
	position: sticky;
	bottom: 0;
	padding: 2em;
	z-index: 2;
	background-color: #ff7700;
	color: #fff;
	font-weight: bold;

	div {
		display: flex;
		align-items: baseline;
		justify-content: space-around;
	}

	hr {
		width: 70%;
		margin: auto;
	}

	figure {
		position: relative;
		width: 100px;
	}
}

@media screen and (min-width: 1500px) {
	header {
		background-position: 0 400%;
	}
}

@media screen and (max-width: 1100px) {
	header nav {
		flex-wrap: wrap;
		flex-direction: column;

		ul {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;

			li {
				margin: 0.5em 1em;
			}
		}
	}

	.hero figure {
		display: none;
	}

	main article > div {
		flex-wrap: wrap;
		justify-content: center;
	}

	article figure {
		margin-bottom: 1em;
	}

	article:nth-of-type(even) > div > div {
		order: 0;
	}
}

@media screen and (max-width: 830px) {
	header nav {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;

		ul {
			flex-wrap: wrap;
			flex-direction: row;
			li {
				margin: 0.5em 1em;
			}
		}

		a {
			width: 90%;
			text-align: center;
		}
	}
}

@media screen and (max-width: 630px) {
	.hero {
		div {
			display: flex;
			flex-direction: column;

			a {
				margin: 0.5em 0;
				width: 100%;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 470px) {
	.hero h1 {
		font-size: 2em;
	}
}
