:root {
	--primary-color: #be0029;
}

html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #6d051b;
	text-decoration: none;
}

a:hover {
	color: var(--primary-color);
}

a:active {
	color: #6d051b;
}

body {
	margin: auto;
	font-family: 'Monserrat', arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2em auto;
	max-width: 1000px;
	font-size: 1.2em;
	font-family: 'Exo 2', 'sans-serif';
	text-transform: capitalize;
	font-weight: 400;
	font-variant: small-caps;
}

.logo {
	margin: auto 0;
	cursor: pointer;
	flex: 1 1 120px;
	max-width: 120px;
	margin-right: 2em;
}

figure img {
	width: 100%;
}

header nav:first-of-type {
	flex: 1 1 200px;
}

header nav:last-of-type {
	flex: 1 1 200px;
}

header nav:first-of-type ul,
header nav:last-of-type ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

header nav:first-of-type ul {
	justify-content: flex-start;
}

header nav:last-of-type ul {
	justify-content: flex-end;
}

header nav:first-of-type ul li:not(first-of-type) {
	margin-left: 1.3em;
}

header nav:last-of-type ul li:not(:first-of-type) {
	margin-left: 0.5em;
}

li svg {
	width: 1.2em;
}

main {
	margin: 2em auto;
	max-width: 1000px;
}

main h1 {
	font-family: 'Exo 2', sans-serif;
	font-size: 8rem;
	margin: 0;
}

main > span {
	color: rgba(0, 0, 0, 0.493);
	text-transform: lowercase;
	font-size: 2em;
	font-style: italic;
}

main section {
	display: flex;
	margin-top: 2em;
}

section div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 100px;
	writing-mode: vertical-lr;
	text-orientation: upright;
	margin-right: 0.2em;
}

section div h2 {
	font-size: 5em;
	letter-spacing: -10px;
	margin: 0;
}

section div h2:last-of-type {
	color: var(--primary-color);
}

section figure {
	flex: 1 1 20rem;
	margin: 0 0 0 0.9em;
}

section figure img {
	border-radius: 0.5em;
}

main > a:link,
[type="submit"] {
	display: block;
	width: 8em;
	text-align: center;
	background-color: var(--primary-color);
	padding: 0.7em;
	margin: 0.3em 0 0 auto;
	font-size: 1.3em;
	color: #fff;
	text-transform: capitalize;
	border-radius: 0.3em;
	transition: all 200ms ease-in;
	cursor: pointer;
}

main > a:hover,
[type="submit"] {
	background-color: #000;
	transform: scale(1.02);
	color: #fff;
}

article p {
	line-height: 1.5;
	font-size: 1.2em;
	text-align: justify;
}

footer {
	background-color: var(--primary-color);
	display: flex;
	box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.541);
	padding: 1em 0;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-size: 1.2em;
}

footer div,
footer span {
	flex: 1 1 33%;
}

footer div:first-of-type {
	align-self: flex-end;
}

footer span {
	font-size: 0.8em;
}

footer div {
	text-align: center;
}

footer .logo {
	margin-left: auto;
}
