html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Arial;
}

nav {
	background-color: #395795;
	display: flex;
	padding: 0 2em;
	justify-content: space-between;
	height: 5em;
	align-items: center;
	border-bottom: 1px solid #2f3f6946;
	box-shadow: 1px 1px 1px #000;
}

nav h1 {
	color: #fff;
	font-size: 3em;
	font-weight: 900;
	margin: 0;
	width: 20%;
	letter-spacing: -3px;
}

nav form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

nav form div {
	margin: 0 1em;
	min-height: 72px;
}

nav form label:first-child {
	margin-bottom: 0.2rem;
	font-weight: 100;
	display: inline-block;
}

nav form label:last-child,
nav form span {
	color: rgba(255, 255, 255, 0.548);
	font-size: 0.8em;
	cursor: pointer;
}

[type="checkbox"] {
	margin: 0.2em auto;
	vertical-align: middle;
}

nav form input:not([type="checkbox"]) {
	border-radius: 0;
	border: 1px solid #000;
	height: 25px;
	margin-bottom: 0.2em;
	max-width: 170px;
}

nav form input[type="submit"] {
	color: #fff;
	background-color: #5a74a5;
	border: none;
	border-top: 2px solid #859bce;
	padding: 0.2em 0.5em;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.521);
	font-weight: 500;
	cursor: pointer;
	max-height: 25px;
}

nav form [type="submit"]:hover {
	box-shadow: none;
}
