/* BARCELONA STYLES */

.left-container {
	background: linear-gradient(180deg, #ffffff00 10%, #000000 100%),
		url("../../assets/barcelona/barcelona.jpg") center/cover;
}

article h1 {
	color: #ff5100;
}

section h2 {
	color: #ff5100;
}

.gallery .second-figures {
	height: 160px;
}

.gallery figure figcaption {
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 14px;
	width: 100%;
}

footer {
	height: 300px;
}

span img {
	width: 30px;
}
