@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

body {
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 'left-container right-container' 'left-container right-container' 'footer right-container';
}

.left-container {
	background-image: url(../../assets/vectors/leftContainer.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: calculateRem(20px);
	margin-left: calculateRem(50px);
	margin-bottom: calculateRem(100px);
	span {
		margin: calculateRem(20px) 0;
		font-size: 20px;
	}
}

article h1 {
	font-size: calculateRem(30px);
	margin: calculateRem(20px) auto;
	position: static;
	text-shadow: none;
	color: #ff3838B8;
}

article i {
	margin-right: calculateRem(10px);
	color: #ff3838B8;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: calculateRem(100px);

	.flex-container {
		display: flex;
		justify-content: space-between;

		.left-form,
		.right-form {
			display: flex;
			flex-direction: column;
			width: 45%;
		}
	}
}

.left-form label,
.right-form label {
	margin-bottom: calculateRem(15px);
}

.left-form label:hover + input,
.right-form label:hover + input {
	border-color: #75bbca;
}

form input[type="text"],
form input[type="email"] {
	border: none;
	border-bottom: calculateRem(2px) solid #c4c4c4;
	margin-bottom: calculateRem(20px);
}

form h2 {
	font-size: calculateRem(20px);
	font-weight: 500;
	margin-top: calculateRem(30px);
	margin-bottom: 0;
}

form .radio-container {
	margin: calculateRem(50px) auto;

	input:not(:first-child) {
		margin-left: calculateRem(50px);
	}
}

form label:last-of-type {
	margin-bottom: calculateRem(30px);
}

form textarea {
	border: calculateRem(2px) solid #c4c4c4;
	border-radius: 10px;
	margin-top: calculateRem(20px);
	padding: calculateRem(20px);
}

form button {
	width: 20%;
	padding: calculateRem(15px);
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
	align-self: flex-end;
	margin-top: calculateRem(30px);
	border: 0;
	background-color: #75bbca;
	cursor: pointer;
}

footer {
	grid-area: footer;
}
