<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css" type="text/css")
        script(src="./index.js" defer)
        title JavaScript Bifurcaciones | Ejercicio 0a
    body
        h1 Calculo de nota
        p Introduce los valores correspondientes.
        label(for="theory") Nota teorica
        input(type="number" id="theory")
        label(for="practice") Nota practica
        input(type="number" id="practice")
        div 
            label(for="extra") Extra
            input(type="checkbox" id="extra")
        input(type="submit" value="Calcula")
        output 
