body {
	background: #000;
}

.solar-system {
	background: black url(stars.png) repeat;
	position: absolute;
	top: 300px;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 0;
	transform: rotateY(25deg) rotateX(-10deg);
}

.planet-container {
	position: absolute;
	top: 20px;
}

/* CUSTOM PROPS */

/* Planet Tilt */

.earth .clip-circle {
	transform: rotateX(7deg) rotateZ(15deg);
}

/* Planet Surface */

.earth .face {
	background-image: url(https://i.stack.imgur.com/fdtNz.jpg);
}

.moon .face {
	background-image: url(https://i.pinimg.com/originals/3e/dc/e0/3edce08472326f054d5b3f004ebf08f6.jpg);
}

/* PLANET POSITION */

.earth {
	position: absolute;
	left: 20px;
}

.moon {
	position: absolute;
	left: 70px;
	transform: scale(0.5) translateY(100px);
}

.cube-wrapper {
	width: 0;
	height: 0;
	top: 100px;
	left: 100px;
	position: absolute;
	perspective-origin: 0 0;
	perspective: 80px;
}

.cube-2 {
	transform: translateZ(-100px) scaleX(1.8);
	transform-style: preserve-3d;
}
.cube {
	top: -100px;
	position: relative;
	transform-style: preserve-3d;
	animation-name: rotate;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.planet .lighting {
	box-shadow: -20px -30px 55px 0 rgba(0, 0, 0, 0.9) inset, -75px -100px 150px 0 rgba(0, 0, 0, 0.4) inset,
		75px 100px 200px 0 rgba(255, 255, 255, 0.2) inset, -1px -2px 10px 2px rgba(200, 190, 255, 0.2);
}
.planet .lighting:after {
	box-shadow: 0 0 150px 51px rgba(255, 255, 255, 0.2), 0 0 26px 10px rgba(255, 255, 255, 0.2);
}

.circle {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.clip-circle {
	position: absolute;
	padding: 0;
	top: -16px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clip-path: circle(85px at center);
}

.lighting:after {
	content: '';
	position: absolute;
	top: 50px;
	left: 67px;
}
.reflection:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 200px;
	background-image: url(https://i.stack.imgur.com/ayCw7.png);
	background-size: 200px 200px;
}

@keyframes rotate {
	0% {
		transform: rotate3d(0 0, 0, 360deg);
	}
	100% {
		transform: rotate3d(0, 1, 0, 360deg);
	}
}

.face {
	position: absolute;
	background-size: 662.4px 200px;
	width: 84px;
	height: 200px;
}

#face1 {
	transform: translateX(-41.4px) translateZ(100px);
	background-position: 0 0;
}
#face2 {
	transform: translateX(29.2px) translateZ(70.8px) rotateY(45deg);
	background-position: -82.8px 0;
}
#face3 {
	transform: translateX(58.5px) rotateY(90deg);
	background-position: -165.6px 0;
}
#face4 {
	transform: translateX(29.2px) translateZ(-70.8px) rotateY(135deg);
	background-position: -248.4px 0;
}
#face5 {
	transform: translateX(-41.4px) translateZ(-100px) rotateY(180deg);
	background-position: -331.2px 0;
}
#face6 {
	transform: translateX(-111.4px) translateZ(-70.8px) rotateY(225deg);
	background-position: -414px 0;
}
#face7 {
	transform: translateX(-141.4px) rotateY(270deg);
	background-position: -496.8px 0;
}
#face8 {
	transform: translateX(-111.4px) translateZ(70px) rotateY(315deg);
	background-position: -579.6px 0;
}
