html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	max-width: 1000px;
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figure img {
	width: 100%;
}

figure {
	text-align: center;
}

h1 {
	font-family: 'Righteous', cursive;
}

.display figure {
	width: 10em;
}

.picks {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 2em;
}

.picks figure {
	width: 5em;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.picks figure:hover {
	transform: translateY(-15px);
	filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.699));
}

.display {
	display: flex;
	justify-content: space-around;
}

[src*="rock"] {
	transform: rotateX(180deg);
}

.scoreboard {
	min-width: 400px;
	font-family: 'Fredericka the Great', cursive;
	min-height: 300px;
	text-align: center;
	padding-top: 2.5em;
	color: #fff;
	background-color: #36664c;
	background: no-repeat url('./assets/chalkboard.png') top / 100%;
}

.scoreboard output {
	display: block;
	margin-bottom: 1em;
}

.scoreboard span {
	display: block;
}

.scoreboard p {
	margin: 0.3em;
}

button {
	margin: auto;
	display: block;
	width: 40%;
	padding: 1em;
}
