/* ROMA STYLES */

.left-container {
	background: linear-gradient(180deg, #ffffff00 40%, #000000 100%), url("../../assets/roma/roma.jpg") center/cover;
}

article h1 {
	color: #85d48d;
}

section h2 {
	color: #85d48d;
}

.gallery .second-figures {
	height: 10rem;
}

.gallery figure figcaption {
	margin-bottom: 0.625rem;
	margin-left: 0;
	font-size: 0.875rem;
	width: 100%;
}

footer {
	height: 18.75rem;
}
