<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js", defer)
        title JavaScript Arrays | Ejercicio 04
    body
        h1 Secuencia Fibonacci  
        label(for="num") ¿Cuantos números de la secuencia quieres?
        input(type="text" id="num")
        button Generar