<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js", defer)
        title Arrays Indexados | Ejercicio 03
    body
        h1 Ejercicio DNI
        p Recibe numero de DNI y devuelva la letra correspondiente.
        form
            label(for="dni") Ingresa un numero de DNI valido.
            input(type="text" id="dni" placeholder="27349542" pattern="\\d{8}" title="Por favor, ingresa un numero de DNI valido" maxlength="8" required)
            input(type="submit" value="Genera tu DNI") 
        output