<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css" type="text/css")
        script(src="./index.js" defer)
        title JavaSCript Bifurcaciones | Ejercicio 02
    body
        h1 Perímetro y área.
        p Introduce los valores correspondientes.
        label(for="first") Largo
        input(type="text" id="first")
        label(for="second") Ancho
        input(type="text" id="second")
        input(type="submit" value="Calcula")
        output 
