extends layout

block main 
    main
        h1 Calculadora de iva.
        label(for="price") Ingresa un precio.
        input(type="text" required id="price")
        label(for="iva") Selecciona el porcentaje de IVA.
        select(id="iva")
            option Selecciona un porcentaje
            option(value="1.21") Normal (21%)
            option(value="1.1") Reducido (10%)
            option(value="1.04") Super reducido (4%)
        input(type="submit" value="calcular")
        p El precio final es:
        output 