<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JavaScript Flujos | Ejercicio 01
        link(rel="stylesheet", href="./sobrio.css" type="text/css")
        script(src="./index.js" defer)
    body
        block main
    