<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css" type="text/css")
        script(src="./index.js" defer)
        title Ejercicio 06B
    body
        h1 Ejercicio 07
        p Ingresa tres numeros, se mostrara el mayor
        label(for="n1") Numero 1
        input(type="number" id="n1")
        label(for="n2") Numero 2
        input(type="number" id="n2")
        label(for="number") Numero 3
        input(type="number" id="n3")    
        input(type="submit" value="Calcular")
        hr
        output
        