<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ejercicio 08
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js" defer)
    body
        h1 Programa para determinar el tipo de triángulo según sus lados. 
        p Introduce los lados del triángulo, asegurate de usar solo números positivos. 
        label(for="sideA") Lado A
        input(type="number" id="sideB")
        label(for="sideB") Lado B
        input(type="number" id="sideB")
        label(for="sideC") Lado C
        input(type="number" id="sideC")
        input(type="submit" value="Determina")
        output