<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js", defer)
        title JavaScript Funciones | Ejercicio 01
    body
        h1 Funciones JavaScript.
        h2 Doblar:
        figure 
            img(src="./assets/spacex.jpeg" alt="Spacex Falcon Heavy" title="Falcon Heavy" heigth="100" width="50")
        input(type="submit" value="Genera")
        output