<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sobrio.css", type="text/css")
        script(src="./index.js", defer)
        title JavaScript Funciones | Ejercicios Cortos
    body
        h1 Funciones JavaScript.
        h2 Minimo:
        label(for="number1") Numero 1
        input(type="number" id="number1")
        label(for="number2") Numero 2
        input(type="number" id="number2")
        input(type="submit" value="Generar")
        h2 Areas:
        h3 Triangulo 
        label(for="base") Base 
        input(type="number" id="base")
        label(for="height") Altura
        input(type="number" id="height")
        input(type="submit" value="Triangulo")
        h3 Rectangulo 
        label(for="rectBase") Base
        input(type="number" id="rectBase") 
        label(for="rectHeight") Altura
        input(type="number" id="rectHeight") 
        input(type="submit" value="Rectangulo")
        h3 Ciruclo 
        label(for="radio") Radio
        input(type="number" id="radio") 
        input(type="submit" value="Circulo")
        h3 Descuento
        label(for="price") Precio
        input(type="number" id="price")
        label(for="discount") Descuento
        input(type="number" id="discount")
        input(type="submit" value="Calcular")